@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap");
* {
  color: #244d4d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  color: #244d4d;
  font-family: "Noto Serif Display", serif;
}

.presentation {
  background-color: #ffffff55;
  backdrop-filter: blur(20px);
  z-index: 9;
}

.img-presentation {
  object-fit: cover;
  aspect-ratio: 16/9;
}

.texture {
  width: 60%;
  aspect-ratio: 1/1.2;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23244d4d' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.img-presentation-2 {
  display: inline;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1.2;
  padding: 9px;
}

.decoration-client {
  width: 40%;
  aspect-ratio: 1;
}
